[project]
	description = Opendaylight Openflow Protocol Library
[receive]
	requireSignedOffBy = true
[access "refs/*"]
	owner = group ldap/gerrit-openflowjava-commiters
	read = group Administrators
	read = group Anonymous Users
	read = group GitHub Replication
	read = group Non-interactive openflowjava users
	read = group Registered Users
	read = group ldap/gerrit-openflowjava-commiters
	forgeAuthor = group ldap/gerrit-openflowjava-commiters
[access "refs/for/refs/*"]
	push = group Registered Users
	push = group ldap/gerrit-openflowjava-commiters
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group ldap/gerrit-openflowjava-commiters
	label-Code-Review = -1..+1 group Non-interactive openflowjava users
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Non-interactive openflowjava users
	label-Verified = -1..+1 group ldap/gerrit-openflowjava-commiters
	submit = group ldap/gerrit-openflowjava-commiters
	create = group Non-interactive openflowjava users
	forgeAuthor = group Non-interactive openflowjava users
	forgeCommitter = group Non-interactive openflowjava users
	push = group Non-interactive openflowjava users
	pushMerge = group Non-interactive openflowjava users
[access "refs/tags/*"]
	pushTag = group Non-interactive openflowjava users
	pushTag = +force group ldap/gerrit-openflowjava-commiters
	create = group ldap/gerrit-openflowjava-commiters
	forgeCommitter = group Non-interactive openflowjava users
	push = group Non-interactive openflowjava users
	push = +force group ldap/gerrit-openflowjava-commiters
[access "refs/for/refs/heads/master"]
	exclusiveGroupPermissions = push
	push = block group Registered Users
