[project]
	description = Opendaylight Openflow Protocol Library
[receive]
	requireSignedOffBy = true
[access "refs/*"]
	owner = group ldap/gerrit-openflowjava-commiters
	read = group GitHub Replication
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/boron:refs/heads/stable/boron
